flows.json
[{"id":"28e4597c.13c2a6","type":"ui_svg_graphics","z":"1cb2b9ed.8b5a26","group":"6f6d8e76.92496","order":1,"width":"10","height":"10","svgString":"<style>\ntable, th, td {\n  border: 1px solid black;\n  border-collapse: collapse;\n}\n</style>\n\n<svg preserveAspectRatio=\"none\" x=\"0\" y=\"0\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n\n<foreignObject x=\"0\" y=\"0\" width=\"1000\" height=\"1000\">\n                <table style=\"width:100%\" height=\"100%\">\n                  <tr>\n                    <th></th>\n                    <th></th> \n                    <th></th>\n                    <th></th>\n                    <th></th>\n                    <th></th>\n                    <th></th>\n                    <th></th>\n                    <th></th>\n                    <th></th>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                  <tr>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                    <td></td>\n                  </tr>\n                </table>\n            </foreignObject>\n<!--<text id=\"banner\" x=\"10\" y=\"16\" fill=\"black\" stroke=\"black\" font-size=\"35\" text-anchor=\"left\" alignment-baseline=\"middle\" stroke-width=\"1\"></text>-->\n<!--<text id=\"cam\" rotate=\"0\" x=\"85\" y=\"125\" font-family=\"FontAwesome\" fill=\"grey\" stroke=\"black\" font-size=\"60\" text-anchor=\"center\" alignment-baseline=\"center\" stroke-width=\"1\"></text>   -->\n</svg>","clickableShapes":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":720,"y":260,"wires":[["e869ddbf.250d4"]]},{"id":"d9a789dc.093f48","type":"function","z":"1cb2b9ed.8b5a26","name":"","func":"// msg.payload.elementType = \"rect\"\nmsg.payload.elementAttributes.x = msg.payload.x\nmsg.payload.elementAttributes.y = \"500\"\nmsg.payload.elementAttributes.width = \"80\"\nmsg.payload.elementAttributes.height = \"60\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["28e4597c.13c2a6"]]},{"id":"e869ddbf.250d4","type":"debug","z":"1cb2b9ed.8b5a26","name":"Floorplan output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":260,"wires":[]},{"id":"7af0d6fe.2372a8","type":"ui_button","z":"1cb2b9ed.8b5a26","name":"Add POD","group":"6f6d8e76.92496","order":2,"width":"3","height":"1","passthru":true,"label":"Add POD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"POD\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"pink\",\"stroke\":\"black\",\"stroke-width\":\"5px\"}}","payloadType":"json","topic":"Add POD","x":340,"y":260,"wires":[["d9a789dc.093f48"]]},{"id":"6f6d8e76.92496","type":"ui_group","z":"","name":"Add POD","tab":"8c083ba0.6452a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c083ba0.6452a8","type":"ui_tab","z":"","name":"Add POD","icon":"dashboard","disabled":false,"hidden":false}]